@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background-color: white;
  color: #1f3d2d;
  scroll-behavior: smooth;
}

/* Corrige âncoras com header fixo (altura = 80px) */
section[id]::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}
